<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SeriesTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<SeriesTracker.Properties.Settings>
   <setting name="TvdbUpdateEpochTime" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UserEmail" serializeAs="String">
    <value />
   </setting>
   <setting name="UserPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="UserRemember" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EztvLastUpdate" serializeAs="String">
    <value />
   </setting>
   <setting name="TvdbToken" serializeAs="String">
    <value />
   </setting>
   <setting name="TvdbTokenTime" serializeAs="String">
    <value />
   </setting>
  </SeriesTracker.Properties.Settings>
	</userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>